* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    gap: 1.5rem;              
}
    .card {
        background-color:  hsl(0, 0%, 100%);
        border-radius: 1.25rem;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        width: 320px;
        text-align: center;
         padding: 1rem;
    }
    .card__image img {
        width: 100%;
        border-radius: 0.75rem;
        display: block;
    }
    .card__content {
        padding: 1.5rem 1rem 1.75rem;
    }
    .card__title {
        color: hsl(218, 44%, 22%); 
        font-size: 1.375rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 0.75rem;
    }
    .card__text {
        color: hsl(220, 15%, 55%); 
        font-size: 0.9375rem;
        line-height: 1.5;
    }

